
<div class="top"><h1> RESTAURANTS </h1></div>



<div id="left_tab"><%= link_to "New Restaurant", new_restaurant_path %></div>

<% @restaurants.each do |restaurant| %>
		<div class="item_index">
			<div><%= link_to restaurant.name, restaurant %></div>
			<div><%= restaurant.address %></div>
			<div><%= link_to "Menu", restaurant.menu_url %></div>
			<div>$<%= restaurant.price_range %> - $<%= restaurant.price_range + 10 %></div>
		</div>
		<% end %>
	<div class="footer"><p> BE SEATED</p></div>
