
<div><h1> RESTAURANT </h1></div>



<div id="new_restaurant"><%= link_to "New Restaurant", new_restaurant_path %></div>

<% @restaurants.each do |restaurant| %>
		<div class="item_index">
			<div><%= link_to restaurant.name, restaurant %></div>
			<div><%= restaurant.address %></div>
			<div><%= link_to "Menu", restaurant.menu_url %></div>
			<div><%= restaurant.price_range %></div>
		</div>
		<% end %>
	<div><p> BE SEATED</p></div>
