<div>
	<strong>Restaurant:</strong>
	<%= @restaurant.name %>
</div>

<div>
	<strong>Address:</strong>
	<%= @restaurant.address %>
</div>

<div>
	<strong>Average Price:</strong>
	<%= @restaurant.price_range %>
</div>

<div>
	<strong>URL:</strong>
	<%= @restaurant.menu_url %>
</div>

<div class="footer">
	<div class="foot_link"><%= link_to "Back", restaurants_path %></div>
	<div class="foot_link"><%= link_to "Edit", edit_restaurant_path %></div>
	<div class="foot_link"><%= link_to "Delete", @restaurant,
	 method: :delete, data: { confirm: "Are you sure?" } %></div>
</div>

<div>
<%= link_to "New Reservation", new_reservation_path %>
</div>