<div>
	<strong>Restaurant:</strong>
	<%= @restaurant.name %>
</div>

<div>
	<strong>Address:</strong>
	<%= @restaurant.address %>
</div>

<div>
	<strong>Average Price:</strong>
	<%= @restaurant.price_range %>
</div>

<div>
	<strong>URL:</strong>
	<%= @restaurant.menu_url %>
</div>

<div class="footer"><%= link_to "Back", restaurants_path %></div>